<div>
    <button type="button" class="about_college">About College</button>
    <button type="button" class="Courses_offered">Courses offered </button>
    <button type="button" class="placements">Placements</button>
    <button type="button" class="Fee">Fee Structure</button>
    <button type="button" class="sports">Sports & NCC</button>
    <button type="button" class="projects">Internships&projects</button>
    <button type="button" class="research">Research Work</button>
    <button type="button" class="mfee">Miscellaneous</button>
    <button type="button" class="EActivities">Extracurricular Activities</button>
    <button type="button" class="notification">Notifications</button>
</div>