body {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
   box-sizing: border-box;
}

.openChatBtn {
   background-color: rgb(123, 28, 179);
   color: white;
   /*padding: 16px 20px;*/
   border: none;
   font-weight: 500;
   font-size: 18px;
   cursor: pointer;
   opacity: 0.8;
   position: fixed;
   bottom: 23px;
   right: 28px;
   /* width: 280px; */
}

.openChat {
   display: none;
   border-radius: 5px;
   position: fixed;
   bottom: 0;
   right: 15px;
   border: 2p rgb(0, 0, 0);
   z-index: 9;
   background-color: white;
   height: auto;
   width: 300px;
   border: 2px rgb(128, 128, 128);
   border-style: inset;
   background-image: url("../asserts/background_img7.jpg");
}

.btn {
   background-color: rgb(0, 179, 0);
   margin: auto;
   padding: 10px;
   font-size: x-small;
   font-style: normal;
   border-radius: 10px;
}

.close {
   background-color: red;
   margin: auto;
   padding: 5px;
   font-size: x-small;
   font-style: normal;
   border-radius: 4px;
}

.btn:hover,
.openChatBtn:hover {
   opacity: 1;
}

input[type=text] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}

input[type=lable] {
   height: 40%;
   width: 100%;
   color: weight;
   font-family: "Verdana";
   font-size: 20px;
   border: none;
   background-color: rgb(179, 179, 255);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   padding: 10px;
   background-image: url("../asserts/bot_lable_background.jpg");
}

.chat-reply {
   background-color: rgb(191, 191, 191, 0.9);
   font-size: small;
   text-align: right;
   float: right;
   word-wrap: break-word;  
   padding: 3px 0;
}

p {
   display: inline-block;
   padding: 10px;
   margin: 2px;
   border-radius: 5px;
   word-wrap: break-word;
}

.chat-send {
   background-color: rgb(242, 242, 242);
   text-align: left;
   color: black;
   font-size: small;
   word-wrap: break-word;
   padding: 3px 0;
}

.chat-body {
   font-size: small;
   height: 300px;
   overflow-y: auto;
   overflow-x: wrap;
}

button {
   background-color: rgb(153, 153, 255);
   margin: 3px;
   padding: 5px;
   font-size: x-small;
   font-style: normal;
   border-radius: 4px;
}

button :hover {
   background-color: white;
   opacity: 1;
}

body {
   background-image: url("../asserts/background2.jpg");
   background-position: center;
   background-size: cover
}

#header {
   height: 30%;
   width: 100%;
   padding: 25px 10px;
   background-color: rgb(235, 240, 250, 0.6);
}

div#header div {
   display: inline-block;
}

#header_right {
   float: right;
   color: #08a3d9;
   width: 20%;
   border-color: red;
}

#header-middle {
   width: 80%;
   border-color: green;
   text-align: center;
}

#header-left {
   float: left;
   width: 20%;
   border-color: blue;
}

img {
   height: 100px;
   width: 100px;
}

#address {
   text-align: center;
   font-size: 20px;
}

#body_section {
   height: 70%;
   width: 120%;
}

#right_body {
   display: inline-block;
   height: 70%;
   width: 40%;
   margin: 10px;
   padding: 10px;
   border-radius: 5px;
   background-color: rgb(235, 240, 250, 0.7);
   font-size: 20px;
   /* max-height: 500px; */
   /* max-width: 500px; */
   overflow-y: auto;
}

#left_body {
   display: inline-block;
   height: 40%;
   width: 40%;
   margin: 10px;
   padding: 10px;
   border-radius: 5px;
   background-color: rgb(235, 240, 250, 0.7);
   font-size: 20px;
   /* max-height: 500px; */
   /* max-width: 500px; */
   overflow-y: auto;
}

#buttons {
   height: 180px;
   width: 200px;
}

h2 {
   text-align: center;
   color: indigo;

}
h4{
 color: white;
 font-size: 15px;  
}
.chat-send::before{
   content: "";
   width: 64px;
   height: 64px;
   border-radius: 32px;
   background-image: url(../asserts/bot-icon-14.jpg) !important;
   background-size: cover !important;
}
.chat-reply::after{
   content: "";
   width: 64px;
   height: 64px;
   border-radius: 32px;
   background-image: url(../asserts/bot-icon-14.jpg) !important;
   background-size: cover !important;
}

div{
      display: inline-block;
      padding: 10px;
      margin: 2px;
      border-radius: 5px;
      word-wrap: break-word;
}